{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>This page is about Bao's life as Pi</h1>
        <p> She will be the most happy kid ever!! </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Register here &raquo;</a></p>
      </div>
    </div>     
{% endblock %}

{% block content %}
<div class='col-sm-12' style='text-align: center;'>
<h2> Text to mention about us. </h2>
</div>
{% endblock %}
